name: Large vote CI

on:
  push:
    branches:
      - "master"
      - "feat/tests"
      - "feat/rc3"
      - "feat/rc2"
      - "feat/rc1"
      - "feat/next-vote"
  schedule:
    - cron: "0 0 * * TUE"
jobs:
  run-tests-large:
    name: Brownie fork LARGE tests
    runs-on: [protocol-heavy-runners]
    timeout-minutes: 150
    steps:
      - name: Enabling swap
        run: |
          sudo df -h
          sudo swapon --show
          sudo swapoff -a
          sudo touch /swapfile
          sudo fallocate -l 32G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          sudo swapon --show
      - uses: actions/checkout@v3
      - name: Main action
        uses: ./.github/actions/brownie_fork_tests
        with:
          vote: "large"
          infura: ${{ secrets.WEB3_INFURA_PROJECT_ID }}
          etherscan: ${{ secrets.ETHERSCAN_TOKEN }}
