name: Scripts test (large)

on:
  push:
    branches:
      - "master"
      - "feat/tests"
      - "feat/rc3"
      - "feat/rc2"
      - "feat/rc1"
      - "feat/next-vote"
  schedule:
    - cron: "0 0 * * TUE"
jobs:
  run-tests-large-1:
    name: Part 1
    runs-on: [protocol-heavy-runners]
    timeout-minutes: 150
    strategy:
      matrix:
        sequence:
          - "v1_v2_dg1_dg2"
          - "v1_v2_dg2_dg1"
          - "v1_dg1_v2_dg2"
          - "v2_v1_dg1_dg2"
          - "v2_v1_dg2_dg1"
          - "v2_dg2_v1_dg1"

    steps:
      - name: Enabling swap
        run: |
          sudo df -h
          sudo swapon --show
          sudo swapoff -a
          sudo touch /swapfile
          sudo fallocate -l 32G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          sudo swapon --show
      - uses: actions/checkout@v4
      - name: Main action
        uses: ./.github/actions/brownie_fork_tests
        with:
          vote: "large"
          rpc_url: ${{ secrets.ETH_RPC_URL }}
          etherscan: ${{ secrets.ETHERSCAN_TOKEN }}
          action_sequence: ${{ matrix.sequence }}
          command: "make test-1/2"

  run-tests-large-2:
    name: Part 2
    runs-on: [protocol-heavy-runners]
    timeout-minutes: 150
    strategy:
      matrix:
        sequence:
          - "v1_v2_dg1_dg2"
          - "v1_v2_dg2_dg1"
          - "v1_dg1_v2_dg2"
          - "v2_v1_dg1_dg2"
          - "v2_v1_dg2_dg1"
          - "v2_dg2_v1_dg1"

    steps:
      - name: Enabling swap
        run: |
          sudo df -h
          sudo swapon --show
          sudo swapoff -a
          sudo touch /swapfile
          sudo fallocate -l 32G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          sudo swapon --show
      - uses: actions/checkout@v4
      - name: Main action
        uses: ./.github/actions/brownie_fork_tests
        with:
          vote: "large"
          rpc_url: ${{ secrets.ETH_RPC_URL }}
          etherscan: ${{ secrets.ETHERSCAN_TOKEN }}
          action_sequence: ${{ matrix.sequence }}
          command: "make test-2/2"
