name: Normal vote CI

on:
  push:
    branches-ignore:
      - "master"
      - "feat/tests"
      - "feat/rc3"
      - "feat/rc2"
      - "feat/rc1"
      - "feat/next-vote"
jobs:
  run-tests-normal-1:
    name: Brownie fork NORMAL tests 1
    runs-on: [voting-private-runners]
    timeout-minutes: 100

    steps:
      - uses: actions/checkout@v4
      - name: Main action
        uses: ./.github/actions/brownie_fork_tests
        with:
          vote: "normal"
          rpc_url: ${{ secrets.ETH_RPC_URL }}
          etherscan: ${{ secrets.ETHERSCAN_TOKEN }}
          command: "make test-1/2"

  run-tests-normal-2:
    name: Brownie fork NORMAL tests 2
    runs-on: [voting-private-runners]
    timeout-minutes: 100

    steps:
      - uses: actions/checkout@v4
      - name: Main action
        uses: ./.github/actions/brownie_fork_tests
        with:
          vote: "normal"
          rpc_url: ${{ secrets.ETH_RPC_URL }}
          etherscan: ${{ secrets.ETHERSCAN_TOKEN }}
          command: "make test-2/2"
