name: Normal vote CI

on:
  push:
    branches-ignore:
      - "master"
      - "feat/tests"
      - "feat/rc3"
      - "feat/rc2"
      - "feat/rc1"
      - "feat/next-vote"
jobs:
  run-tests-normal:
    name: Brownie fork NORMAL tests
    runs-on: "ubuntu-latest"
    timeout-minutes: 100

    services:
      hardhat-node:
        image: ghcr.io/lidofinance/hardhat-node:2.22.17
        ports:
          - 8545:8545
        env:
          ETH_RPC_URL: "https://mainnet.infura.io/v3/${{ secrets.WEB3_INFURA_PROJECT_ID }}"
    
    steps:
      - uses: actions/checkout@v3
      - name: Main action
        uses: ./.github/actions/brownie_fork_tests
        with:
          vote: "normal"
          infura: ${{ secrets.WEB3_INFURA_PROJECT_ID }}
          etherscan: ${{ secrets.ETHERSCAN_TOKEN }}
