name: Tests

on:
  push:

jobs:
  run-tests:
    name: Brownie tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3


      - name: Install poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
        env:
          POETRY_VERSION: "1.2.2"

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10.8"
          cache: poetry

      - name: Downgrade pip
        run: python -m pip install pyyaml==5.4.1

      - name: Setup node.js version
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'yarn'

      - name: Install poetry requirements
        run: poetry install

      - name: Install ganache
        run: yarn install --frozen-lockfile

      - name: Import network config to connect brownie with local Ganache
        run: poetry run brownie networks import network-config.yaml True

      - name: Run tests
        run: >
          poetry run
          brownie test -s --network mainnet-fork
        env:
          WEB3_INFURA_PROJECT_ID: ${{ secrets.WEB3_INFURA_PROJECT_ID }}
          ETHERSCAN_TOKEN: ${{ secrets.ETHERSCAN_TOKEN }}
